/* Cards- Maka */
/* Responsive 768-1920px Desktop*/
@media screen and (min-width: 768px) {
.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 31px;
  padding: 80px 20px;
  max-width: 1112px;
  margin: 0 auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 308px 308px;
  gap: 29px;
  max-width: 1112px;
  margin: 0 auto;
  padding: 0 20px;
}
}
/* Responsive 376-767px Tablet */
@media screen and (max-width: 767px) {
.gridContainer {
  max-width: 689px;
  margin: 0 auto;
}

.appCard,
.graphicCard {
  height: 200px;
  width: 100%;
  margin-bottom: 24px;
}
}
/* Responsive 375 Mobile */
@media screen and (max-width: 375px) {
.projects {
    padding: 0;
    margin: 96px 0;
    max-width: 100%;
    box-sizing: border-box;
  }
.gridContainer {
    max-width: 327px;
    margin: 0 auto;
  
}
.appCard,
.graphicCard {
  height: 250px;
  width: 100%;
  margin-bottom: 24px;
}
}
